/*start scroll up button*/
.scrollup{
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background:rgb(0, 0, 0);
    border: 1px solid rgb(122, 113, 113);
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    z-index: 999;
    transition: 0.2s ease;
  }
  .scrollup:hover{
    background:rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
  }
  
  .scrollup.active{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .x-icon{
    display: none;
    position: fixed;
    bottom: 5.5%;
    right: 8%;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 1rem;
    background:rgba(0, 0, 0, 0.02);
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(122, 113, 113, 0.1);
    cursor: pointer;
  }
  .x-icon:hover{
    background: rgba(255, 0, 0, 0.87);
    color: white;
  }
  .x-icon.active{
    display: block;
  }
  /*end scroll up button*/