*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  :root {
    font-family: 'Satoshi', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    --white-color:rgba(255, 255, 255, 1);
    --text-color:rgba(0, 0, 0, 0.6);
    --section-padding:40px 100px;
    --background-color: rgba(242, 240, 241, 1);
  }
  ::selection{
    background: rgba(0, 0, 0, 0.1);
  }
  .btns{
    height: 52px;
    margin: 40px 0;
    padding: 16px 54px;
    border-radius: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .container{
    max-width: 1440px;
    margin:  auto;
    
  }
  a{
    cursor: pointer;
  }
